.pagination {
  position: absolute;
  bottom: 0;

  &__btn {
    box-shadow: 0 0 5px lighten(map-get($colors, dark), 40%);

    &.disabled {
      pointer-events: none;
      background-color: map-get($colors, light);
      border-color: map-get($colors, light);
    }
  }

  &__pages {
    padding: 0.4em 0.5em;
    background-color: rgba(map-get($colors, dark), 0.6);
    color: map-get($colors, light);
    border-radius: 1em;
    font-size: 0.8rem;
  }
}
