.sidebar {
  // display: none;
  // background-color: #aaa;
  position: fixed;
  top: 0;
  right: -280px;

  width: 280px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  z-index: 1100;

  transition: right .4s cubic-bezier(0.23, 1, 0.32, 1);

  @include make-breakpoint(lg) {
    display: block;
    position: static;
    width: auto;

    background-color: transparent;
    box-shadow: none;
    border-left: 1px solid #ddd;

    flex: 1 1 20%;
  }

  &.js-active {
    right: 0;
  }

  &-inner {
    // position: relative;

  }

  &__toggle-btn {
    // display: inline;
    position: absolute;
    top: 50%;
    left: -35px;
    width: 35px;
    height: 50px;
    font-size: 1em;
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
    border: 2px solid map-get($colors, primary);
    border-radius: 20px 0 0 20px;
    outline: 0;
    cursor: pointer;
    transition: opacity .2s ease;

    // &::after {
    //   position: relative;
    //   content: '';
    //   display: block;
    //   top: -5px;
    //   left: 12px;
    //   border-top: 5px solid transparent;
    //   border-right: 10px solid map-get($colors, primary);
    //   border-bottom: 5px solid transparent;

    // }

    &:hover {
      opacity: .9;
    }
  }
  


}
