.container {
  margin: 0 auto;
  padding: 0 1em;

  @include make-breakpoint(sm) {
    max-width: 740px;
  }

  @include make-breakpoint(md) {
    max-width: 960px;
  }

  @include make-breakpoint(lg) {
    max-width: 1392px;
  }
}

.main-wrapper {
  display: flex;
  position: relative;
  height: 85vh;
  background-color: rgba(map-get($colors, light), 0.9);
  box-shadow: 0 0 20px lighten(map-get($colors, dark), 50%);
}
