html {
  font-size: 16px;

  @include make-breakpoint(md) {
    font-size: 18px;
  }

  @include make-breakpoint(lg) {
    font-size: 20px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  background: url('../img/main-bg.jpeg') no-repeat center;
  // background-color: map-get($colors, dark--lighten);
}

img {
  max-width: 100%;
}

p {
  font-size: 0.75rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  display: none;
}
